{% extends 'myapp/base.html' %} {% load static %} {% block content %}
<div class="container">
  <h3 class="text-white text-center m-4 text-primary">website founder</h3>
  <a href="https://arshad9200.github.io/Personal.Portfolio./" target="blank"
    >MY PORTFOLIO</a
  >
  <div class="row">
    <div class="col-sm-5">
      <img src="{% static 'myapp/image/python2.jpg'%}" class="img-fluid" />
      <img src="{% static 'myapp/image/python2.jpg'%}" class="img-fluid" />
    </div>
    <div class="col-sm-7">
      <p>
        This article is about the use and knowledge of techniques and processes
        for producing goods, services, and outcomes. For other uses, see
        Technology (disambiguation). A steam turbine with the case opened. Such
        turbines produce most of the electricity used today. Electricity
        consumption and living standards are highly correlated.[1] Technology is
        the continually developing result of accumulated knowledge and
        application in all techniques, skills, methods, and processes used in
        industrial production and scientific research. Technology is embedded in
        the operation of all machines, with or without detailed knowledge of
        their function, for the intended purpose of an organization. The
        technologies of society consist of what is known as systems.
    </div>
  </div>
</div>
{% endblock content %}
